flow.json
[
    {
        "id": "edbe1cde.629ba",
        "type": "tab",
        "label": "Memory",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2f2c213b.a7efae",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 1",
        "width": 3,
        "height": 3,
        "order": 21,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "cb4e092c.1ee2a",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 1",
        "group": "a9794baa.ab2d38",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 60,
        "wires": [
            [
                "ffccce53.714ca8",
                "4e14eed1.a5a98",
                "22b798a2.57215"
            ]
        ]
    },
    {
        "id": "54cc493.102cf38",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 2",
        "group": "a9794baa.ab2d38",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 100,
        "wires": [
            [
                "ffccce53.714ca8",
                "8d832d5f.0ad6d",
                "f7b10a2c.1554d8"
            ]
        ]
    },
    {
        "id": "3ea512f1.01d7fe",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 3",
        "group": "a9794baa.ab2d38",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 140,
        "wires": [
            [
                "ffccce53.714ca8",
                "97ac5e8d.be3a3",
                "113e536a.1101c5"
            ]
        ]
    },
    {
        "id": "151afdf7.73e862",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 2",
        "width": 3,
        "height": 3,
        "order": 23,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b9fee91e.8be488",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 3",
        "width": 3,
        "height": 3,
        "order": 25,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7b04d7cd.c3d77",
        "type": "q-gate",
        "z": "edbe1cde.629ba",
        "name": "queuing gate",
        "controlTopic": "control",
        "defaultState": "queueing",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "0",
        "keepNewest": false,
        "qToggle": false,
        "persist": true,
        "storeName": "file",
        "x": 1310,
        "y": 440,
        "wires": [
            [
                "d15df0ec.10e0b"
            ]
        ]
    },
    {
        "id": "d15df0ec.10e0b",
        "type": "join",
        "z": "edbe1cde.629ba",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1490,
        "y": 440,
        "wires": [
            [
                "284e0bcb.d2d4e4"
            ]
        ]
    },
    {
        "id": "284e0bcb.d2d4e4",
        "type": "switch",
        "z": "edbe1cde.629ba",
        "name": "",
        "property": "payload.1.payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.0.payload",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "payload.0.payload",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1610,
        "y": 460,
        "wires": [
            [
                "b348c454.344b68"
            ],
            [
                "3c68e07e.4125d8",
                "32ac747.cd0de8c"
            ]
        ]
    },
    {
        "id": "46dd7ebc.5c174",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "Flip Cards",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#:(file)::cardBack",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 500,
        "wires": [
            [
                "2f2c213b.a7efae",
                "b9fee91e.8be488",
                "61533c71.ed5dec",
                "10a9f62.a0e518a",
                "23b57be6.819ffc",
                "8fda140e.7f86a8",
                "ffd00228.e2dbf8",
                "747c080f.f78af8",
                "aa91be72.1518e",
                "36d3018d.3ee6c6",
                "97415fdd.0ef898",
                "fb77e3ff.f478b8",
                "907caeef.9cd02",
                "180b2a4b.c43b66",
                "7a554e6e.6857f",
                "151afdf7.73e862"
            ]
        ]
    },
    {
        "id": "ffccce53.714ca8",
        "type": "join",
        "z": "edbe1cde.629ba",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "fc279a42.ad1d5"
            ]
        ]
    },
    {
        "id": "bcd6659c.3595f8",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Reset",
        "group": "a9794baa.ab2d38",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "reset",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 500,
        "wires": [
            [
                "46dd7ebc.5c174",
                "7d08e276.43fa8c",
                "909ed5bf.148f78"
            ]
        ]
    },
    {
        "id": "da7a5651.e438a8",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 4",
        "group": "a9794baa.ab2d38",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 180,
        "wires": [
            [
                "ffccce53.714ca8",
                "176b8b42.d72a9d",
                "30b44712.2a9458"
            ]
        ]
    },
    {
        "id": "61533c71.ed5dec",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 4",
        "width": 3,
        "height": 3,
        "order": 27,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "41b8b7d.3c456c8",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 5",
        "group": "a9794baa.ab2d38",
        "order": 34,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 220,
        "wires": [
            [
                "ffccce53.714ca8",
                "49055792.1fe52",
                "2f908d9f.1b09d2"
            ]
        ]
    },
    {
        "id": "10a9f62.a0e518a",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 5",
        "width": 3,
        "height": 3,
        "order": 42,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "83046d2.1ebb69",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 6",
        "group": "a9794baa.ab2d38",
        "order": 36,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 260,
        "wires": [
            [
                "ffccce53.714ca8",
                "4fe16dbd.9019bc",
                "50d1b21e.01794c"
            ]
        ]
    },
    {
        "id": "23b57be6.819ffc",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 6",
        "width": 3,
        "height": 3,
        "order": 44,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "82b03a2e.6dce",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 7",
        "group": "a9794baa.ab2d38",
        "order": 38,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 300,
        "wires": [
            [
                "ffccce53.714ca8",
                "9d36494c.209a3",
                "809206ba.c7aef8"
            ]
        ]
    },
    {
        "id": "8fda140e.7f86a8",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 7",
        "width": 3,
        "height": 3,
        "order": 46,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4bf41129.443d6",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 8",
        "group": "a9794baa.ab2d38",
        "order": 40,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 340,
        "wires": [
            [
                "ffccce53.714ca8",
                "19362486.15349b",
                "6fe94c03.7fb184"
            ]
        ]
    },
    {
        "id": "ffd00228.e2dbf8",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 8",
        "width": 3,
        "height": 3,
        "order": 48,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6bd4dab.3bbf9a4",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 9",
        "group": "a9794baa.ab2d38",
        "order": 55,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 540,
        "wires": [
            [
                "ffccce53.714ca8",
                "ada60ceb.2753d",
                "34e78929.7d60ae"
            ]
        ]
    },
    {
        "id": "747c080f.f78af8",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 9",
        "width": 3,
        "height": 3,
        "order": 63,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f643ccfe.fc58b8",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 10",
        "group": "a9794baa.ab2d38",
        "order": 57,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 580,
        "wires": [
            [
                "ffccce53.714ca8",
                "a7f16afb.7d8dd8",
                "19c38d84.f7d0ba"
            ]
        ]
    },
    {
        "id": "aa91be72.1518e",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 10",
        "width": 3,
        "height": 3,
        "order": 65,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b457d847.b7ac7",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 11",
        "group": "a9794baa.ab2d38",
        "order": 59,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 620,
        "wires": [
            [
                "ffccce53.714ca8",
                "ef9a6b2c.2525f",
                "4e2602d6.f1aefc"
            ]
        ]
    },
    {
        "id": "36d3018d.3ee6c6",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 11",
        "width": 3,
        "height": 3,
        "order": 67,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "7354f4d4.b32d0c",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 12",
        "group": "a9794baa.ab2d38",
        "order": 61,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 660,
        "wires": [
            [
                "ffccce53.714ca8",
                "c704c6fd.32314",
                "64dc0866.10053"
            ]
        ]
    },
    {
        "id": "97415fdd.0ef898",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 12",
        "width": 3,
        "height": 3,
        "order": 69,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "27a7942d.f5a84c",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 13",
        "group": "a9794baa.ab2d38",
        "order": 76,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 700,
        "wires": [
            [
                "ffccce53.714ca8",
                "afc0667e.7cb2b",
                "993d4105.10f51"
            ]
        ]
    },
    {
        "id": "fb77e3ff.f478b8",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 13",
        "width": 3,
        "height": 3,
        "order": 84,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ac402b25.f4fa98",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 14",
        "group": "a9794baa.ab2d38",
        "order": 78,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 740,
        "wires": [
            [
                "ffccce53.714ca8",
                "6855a4cc.20ff64",
                "9de83b0f.df2238"
            ]
        ]
    },
    {
        "id": "907caeef.9cd02",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 14",
        "width": 3,
        "height": 3,
        "order": 86,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e77207a5.98995",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 15",
        "group": "a9794baa.ab2d38",
        "order": 80,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 780,
        "wires": [
            [
                "ffccce53.714ca8",
                "7919511b.5f759",
                "46e7ce7c.7b6038"
            ]
        ]
    },
    {
        "id": "180b2a4b.c43b66",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 15",
        "width": 3,
        "height": 3,
        "order": 88,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "83c427ee.488df",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Button 16",
        "group": "a9794baa.ab2d38",
        "order": 82,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 820,
        "wires": [
            [
                "ffccce53.714ca8",
                "9ca36839.5e0b1",
                "555275b3.610684"
            ]
        ]
    },
    {
        "id": "7a554e6e.6857f",
        "type": "ui_media",
        "z": "edbe1cde.629ba",
        "group": "a9794baa.ab2d38",
        "name": "Media 16",
        "width": 3,
        "height": 3,
        "order": 90,
        "category": "Cards",
        "file": "gray_back.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1500,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "9f140810.dc6668",
        "type": "ui_toast",
        "z": "edbe1cde.629ba",
        "position": "bottom right",
        "displayTime": "4",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "topic": "",
        "name": "Match",
        "x": 1890,
        "y": 440,
        "wires": []
    },
    {
        "id": "b348c454.344b68",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "Match",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Match",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 440,
        "wires": [
            [
                "9f140810.dc6668"
            ]
        ]
    },
    {
        "id": "3c68e07e.4125d8",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "Wrong",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Wrong",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 480,
        "wires": [
            [
                "e11dd44b.7cc728"
            ]
        ]
    },
    {
        "id": "e11dd44b.7cc728",
        "type": "ui_toast",
        "z": "edbe1cde.629ba",
        "position": "bottom right",
        "displayTime": "4",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "topic": "",
        "name": "Wrong",
        "x": 1890,
        "y": 480,
        "wires": []
    },
    {
        "id": "b7d633c4.11926",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Shuffle",
        "group": "a9794baa.ab2d38",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Shuffle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[\"2C\",\"2D\",\"2H\",\"2S\",\"3C\",\"3D\",\"3H\",\"3S\",\"4C\",\"4D\",\"4H\",\"4S\",\"5C\",\"5D\",\"5H\",\"5S\",\"6C\",\"6D\",\"6H\",\"6S\",\"7C\",\"7D\",\"7H\",\"7S\",\"8C\",\"8D\",\"8H\",\"8S\",\"8C\",\"8D\",\"9H\",\"9S\",\"10C\",\"10D\",\"10H\",\"10S\",\"AC\",\"AD\",\"AH\",\"AS\",\"JC\",\"JD\",\"JH\",\"JS\",\"KC\",\"KD\",\"KH\",\"KS\",\"QC\",\"QD\",\"QH\",\"QS\"]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "3f801fb1.abdf1"
            ]
        ]
    },
    {
        "id": "7d08e276.43fa8c",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "fa35fa4a.374fa8",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "bcd6659c.3595f8"
            ]
        ]
    },
    {
        "id": "4e14eed1.a5a98",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 60,
        "wires": [
            [
                "cb4e092c.1ee2a"
            ]
        ]
    },
    {
        "id": "909ed5bf.148f78",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 420,
        "wires": [
            [
                "cb4e092c.1ee2a",
                "54cc493.102cf38",
                "3ea512f1.01d7fe",
                "da7a5651.e438a8",
                "41b8b7d.3c456c8",
                "83046d2.1ebb69",
                "82b03a2e.6dce",
                "4bf41129.443d6",
                "6bd4dab.3bbf9a4",
                "f643ccfe.fc58b8",
                "b457d847.b7ac7",
                "7354f4d4.b32d0c",
                "27a7942d.f5a84c",
                "ac402b25.f4fa98",
                "e77207a5.98995",
                "83c427ee.488df"
            ]
        ]
    },
    {
        "id": "8d832d5f.0ad6d",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 100,
        "wires": [
            [
                "54cc493.102cf38"
            ]
        ]
    },
    {
        "id": "97ac5e8d.be3a3",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 140,
        "wires": [
            [
                "3ea512f1.01d7fe"
            ]
        ]
    },
    {
        "id": "176b8b42.d72a9d",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "da7a5651.e438a8"
            ]
        ]
    },
    {
        "id": "49055792.1fe52",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 220,
        "wires": [
            [
                "41b8b7d.3c456c8"
            ]
        ]
    },
    {
        "id": "4fe16dbd.9019bc",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "83046d2.1ebb69"
            ]
        ]
    },
    {
        "id": "9d36494c.209a3",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "82b03a2e.6dce"
            ]
        ]
    },
    {
        "id": "ada60ceb.2753d",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "6bd4dab.3bbf9a4"
            ]
        ]
    },
    {
        "id": "a7f16afb.7d8dd8",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 580,
        "wires": [
            [
                "f643ccfe.fc58b8"
            ]
        ]
    },
    {
        "id": "ef9a6b2c.2525f",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 620,
        "wires": [
            [
                "b457d847.b7ac7"
            ]
        ]
    },
    {
        "id": "c704c6fd.32314",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 660,
        "wires": [
            [
                "7354f4d4.b32d0c"
            ]
        ]
    },
    {
        "id": "afc0667e.7cb2b",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "27a7942d.f5a84c"
            ]
        ]
    },
    {
        "id": "6855a4cc.20ff64",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 740,
        "wires": [
            [
                "ac402b25.f4fa98"
            ]
        ]
    },
    {
        "id": "7919511b.5f759",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 780,
        "wires": [
            [
                "e77207a5.98995"
            ]
        ]
    },
    {
        "id": "19362486.15349b",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "4bf41129.443d6"
            ]
        ]
    },
    {
        "id": "74e1a47c.5a4b0c",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Red",
        "group": "a9794baa.ab2d38",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Red",
        "tooltip": "",
        "color": "",
        "bgcolor": "#D02000",
        "icon": "",
        "payload": "Cards/red_back.png",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "dc235ff7584a7f82"
            ]
        ]
    },
    {
        "id": "8aa7e7fe.aea358",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Green",
        "group": "a9794baa.ab2d38",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Green",
        "tooltip": "",
        "color": "",
        "bgcolor": "#4CA43F",
        "icon": "",
        "payload": "Cards/green_back.png",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "dc235ff7584a7f82"
            ]
        ]
    },
    {
        "id": "209bdb38.19252c",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Yellow",
        "group": "a9794baa.ab2d38",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Yellow",
        "tooltip": "",
        "color": "",
        "bgcolor": "#FDCD44",
        "icon": "",
        "payload": "Cards/yellow_back.png",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "dc235ff7584a7f82"
            ]
        ]
    },
    {
        "id": "97f45441.bc1a9",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Blue",
        "group": "a9794baa.ab2d38",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Blue",
        "tooltip": "",
        "color": "",
        "bgcolor": "#009DDC",
        "icon": "",
        "payload": "Cards/blue_back.png",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "dc235ff7584a7f82"
            ]
        ]
    },
    {
        "id": "c7ff853b.d923f",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Purple",
        "group": "a9794baa.ab2d38",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Purple",
        "tooltip": "",
        "color": "",
        "bgcolor": "#702C8D",
        "icon": "",
        "payload": "Cards/purple_back.png",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "dc235ff7584a7f82"
            ]
        ]
    },
    {
        "id": "8cd016e7.9eb88",
        "type": "ui_button",
        "z": "edbe1cde.629ba",
        "name": "Gray",
        "group": "a9794baa.ab2d38",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Gray",
        "tooltip": "",
        "color": "",
        "bgcolor": "#717073",
        "icon": "",
        "payload": "Cards/gray_back.png",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "dc235ff7584a7f82"
            ]
        ]
    },
    {
        "id": "99b20e42.3f7f5",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::cardBack",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "bcd6659c.3595f8"
            ]
        ]
    },
    {
        "id": "3af60516.ea8b62",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "962e0c24.a2dd68",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "83ec43f8.879f28",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4a535bfc.74eaec",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d76937f1.93eb28",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card5",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8d55d101.9fb478",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card6",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "bea224a1.e0b808",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card7",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "aeaa81f5.33b6b8",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card8",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3d353dd0.da30ca",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card9",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "94f2838d.92cc98",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card10",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3c4cc524.1605a2",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card11",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5e11784f.82df2",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card12",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "cc5342ac.7463f",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card13",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b2d1d6cf.c0a4a8",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card14",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "396dabce.bd5fd4",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card15",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6f2f33.b67e58",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::card16",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3f801fb1.abdf1",
        "type": "random-item",
        "z": "edbe1cde.629ba",
        "name": "8 Random Cards",
        "input": "payload",
        "inputType": "msg",
        "output": "payload",
        "outputType": "msg",
        "number": "8",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "d0d08eb6.ec7428",
                "fa35fa4a.374fa8"
            ]
        ]
    },
    {
        "id": "4ab3137a.c98ba4",
        "type": "Input Split",
        "z": "edbe1cde.629ba",
        "name": "Pattern1",
        "inputProps": [
            "payload.0",
            "payload.1",
            "payload.2",
            "payload.3",
            "payload.4",
            "payload.5",
            "payload.6",
            "payload.7"
        ],
        "outputs": 8,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "3af60516.ea8b62",
                "bea224a1.e0b808"
            ],
            [
                "962e0c24.a2dd68",
                "5e11784f.82df2"
            ],
            [
                "83ec43f8.879f28",
                "b2d1d6cf.c0a4a8"
            ],
            [
                "4a535bfc.74eaec",
                "aeaa81f5.33b6b8"
            ],
            [
                "d76937f1.93eb28",
                "2f6f2f33.b67e58"
            ],
            [
                "8d55d101.9fb478",
                "3c4cc524.1605a2"
            ],
            [
                "3d353dd0.da30ca",
                "396dabce.bd5fd4"
            ],
            [
                "94f2838d.92cc98",
                "cc5342ac.7463f"
            ]
        ]
    },
    {
        "id": "d0d08eb6.ec7428",
        "type": "random-output",
        "z": "edbe1cde.629ba",
        "name": "",
        "outputs": 4,
        "useWeights": false,
        "weights": [
            "1",
            "1",
            "1",
            "1"
        ],
        "x": 120,
        "y": 360,
        "wires": [
            [
                "4ab3137a.c98ba4"
            ],
            [
                "20a72982.277b46"
            ],
            [
                "4d374d95.6ca7e4"
            ],
            [
                "ea1a0191.aed868"
            ]
        ]
    },
    {
        "id": "20a72982.277b46",
        "type": "Input Split",
        "z": "edbe1cde.629ba",
        "name": "Pattern2",
        "inputProps": [
            "payload.0",
            "payload.1",
            "payload.2",
            "payload.3",
            "payload.4",
            "payload.5",
            "payload.6",
            "payload.7"
        ],
        "outputs": 8,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "83ec43f8.879f28",
                "5e11784f.82df2"
            ],
            [
                "d76937f1.93eb28",
                "396dabce.bd5fd4"
            ],
            [
                "3af60516.ea8b62",
                "4a535bfc.74eaec"
            ],
            [
                "962e0c24.a2dd68",
                "aeaa81f5.33b6b8"
            ],
            [
                "8d55d101.9fb478",
                "2f6f2f33.b67e58"
            ],
            [
                "3d353dd0.da30ca",
                "cc5342ac.7463f"
            ],
            [
                "b2d1d6cf.c0a4a8",
                "3c4cc524.1605a2"
            ],
            [
                "bea224a1.e0b808",
                "94f2838d.92cc98"
            ]
        ]
    },
    {
        "id": "4d374d95.6ca7e4",
        "type": "Input Split",
        "z": "edbe1cde.629ba",
        "name": "Pattern3",
        "inputProps": [
            "payload.0",
            "payload.1",
            "payload.2",
            "payload.3",
            "payload.4",
            "payload.5",
            "payload.6",
            "payload.7"
        ],
        "outputs": 8,
        "x": 320,
        "y": 600,
        "wires": [
            [
                "b2d1d6cf.c0a4a8",
                "cc5342ac.7463f"
            ],
            [
                "aeaa81f5.33b6b8",
                "2f6f2f33.b67e58"
            ],
            [
                "d76937f1.93eb28",
                "3d353dd0.da30ca"
            ],
            [
                "3af60516.ea8b62",
                "8d55d101.9fb478"
            ],
            [
                "3c4cc524.1605a2",
                "396dabce.bd5fd4"
            ],
            [
                "bea224a1.e0b808",
                "83ec43f8.879f28"
            ],
            [
                "962e0c24.a2dd68",
                "5e11784f.82df2"
            ],
            [
                "94f2838d.92cc98",
                "4a535bfc.74eaec"
            ]
        ]
    },
    {
        "id": "ea1a0191.aed868",
        "type": "Input Split",
        "z": "edbe1cde.629ba",
        "name": "Pattern4",
        "inputProps": [
            "payload.0",
            "payload.1",
            "payload.2",
            "payload.3",
            "payload.4",
            "payload.5",
            "payload.6",
            "payload.7"
        ],
        "outputs": 8,
        "x": 320,
        "y": 740,
        "wires": [
            [
                "3c4cc524.1605a2",
                "8d55d101.9fb478"
            ],
            [
                "396dabce.bd5fd4",
                "3af60516.ea8b62"
            ],
            [
                "4a535bfc.74eaec",
                "cc5342ac.7463f"
            ],
            [
                "aeaa81f5.33b6b8",
                "962e0c24.a2dd68"
            ],
            [
                "b2d1d6cf.c0a4a8",
                "5e11784f.82df2"
            ],
            [
                "94f2838d.92cc98",
                "bea224a1.e0b808"
            ],
            [
                "3d353dd0.da30ca",
                "d76937f1.93eb28"
            ],
            [
                "83ec43f8.879f28",
                "2f6f2f33.b67e58"
            ]
        ]
    },
    {
        "id": "9ca36839.5e0b1",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 820,
        "wires": [
            [
                "83c427ee.488df"
            ]
        ]
    },
    {
        "id": "e9890644.c07c9",
        "type": "config",
        "z": "edbe1cde.629ba",
        "name": "",
        "properties": [
            {
                "p": "#:(file)::cardBack",
                "pt": "flow",
                "to": "Cards/gray_back.png",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 130,
        "y": 280,
        "wires": []
    },
    {
        "id": "32ac747.cd0de8c",
        "type": "delay",
        "z": "edbe1cde.629ba",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1120,
        "y": 480,
        "wires": [
            [
                "bcd6659c.3595f8"
            ]
        ]
    },
    {
        "id": "e426b34e.351528",
        "type": "trigger",
        "z": "edbe1cde.629ba",
        "name": "",
        "op1": "trigger",
        "op2": "trigger",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1510,
        "y": 380,
        "wires": [
            [
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "fc279a42.ad1d5",
        "type": "change",
        "z": "edbe1cde.629ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 380,
        "wires": [
            [
                "e426b34e.351528"
            ]
        ]
    },
    {
        "id": "6fe94c03.7fb184",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card8",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card8\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "ffd00228.e2dbf8",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "809206ba.c7aef8",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card7",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card7\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "8fda140e.7f86a8",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "50d1b21e.01794c",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card6",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card6\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "23b57be6.819ffc",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "2f908d9f.1b09d2",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card5",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card5\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "10a9f62.a0e518a",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "30b44712.2a9458",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card4",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card4\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 180,
        "wires": [
            [
                "61533c71.ed5dec",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "113e536a.1101c5",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card3",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card3\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 140,
        "wires": [
            [
                "b9fee91e.8be488",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "f7b10a2c.1554d8",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card2",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card2\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "151afdf7.73e862",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "22b798a2.57215",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card1",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card16\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 60,
        "wires": [
            [
                "2f2c213b.a7efae",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "555275b3.610684",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card16",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card16\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 820,
        "wires": [
            [
                "7a554e6e.6857f",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "46e7ce7c.7b6038",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card15",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card15\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 780,
        "wires": [
            [
                "180b2a4b.c43b66",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "9de83b0f.df2238",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card14",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card14\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 740,
        "wires": [
            [
                "907caeef.9cd02",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "993d4105.10f51",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card13",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card13\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 700,
        "wires": [
            [
                "fb77e3ff.f478b8",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "64dc0866.10053",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card12",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card12\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 660,
        "wires": [
            [
                "97415fdd.0ef898",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "4e2602d6.f1aefc",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card11",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card11\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "36d3018d.3ee6c6",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "19c38d84.f7d0ba",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card10",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card10\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 580,
        "wires": [
            [
                "aa91be72.1518e",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "34e78929.7d60ae",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "card9",
        "func": "msg.payload = (\"Cards/\"+flow.get(\"card9\", \"file\")+\".png\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "747c080f.f78af8",
                "7b04d7cd.c3d77"
            ]
        ]
    },
    {
        "id": "dc235ff7584a7f82",
        "type": "function",
        "z": "edbe1cde.629ba",
        "name": "fan",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 500,
        "wires": [
            [
                "99b20e42.3f7f5"
            ]
        ]
    },
    {
        "id": "ac4d7897e8bcfa45",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "448025985d491225",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "428aa26d49a573e7",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "53acc85e427369f2",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "d24fd04c3bdb9e3b",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "2f76be2b94f23ea7",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "fd611f9d73b5bf1c",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "4f1ae0117f2e2063",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "79e880d38b4ea4f1",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "e334c6360db0f777",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca52987a36558149",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "1f7b53668fe79488",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "4358ca1df0a4c352",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "283a01b2b25db833",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e7d586ad8cb5bac",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "e65eec8ce6034c20",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "400eaebddbacfb21",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "d925efa1182319f0",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "000f2f292b213722",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 37,
        "width": 2,
        "height": 1
    },
    {
        "id": "4d054d7ead8d3c55",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "ef9bb6fd16b57322",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "3918ca2fdbf32953",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "2acbbfba720fc504",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f7d07f2020c88ce",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6e6ce60953bf344",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 49,
        "width": 1,
        "height": 1
    },
    {
        "id": "d556069c3817ac63",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "81afc7023bdeb4d6",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 51,
        "width": 1,
        "height": 1
    },
    {
        "id": "7f47dad54de73e8f",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ed9f097714d0b5c",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 53,
        "width": 1,
        "height": 1
    },
    {
        "id": "e3d6dc8ff248d457",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "07ce5ed286a98af8",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 56,
        "width": 2,
        "height": 1
    },
    {
        "id": "abe3077e2918ba32",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 58,
        "width": 2,
        "height": 1
    },
    {
        "id": "d3be91645b0bd3ca",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 60,
        "width": 2,
        "height": 1
    },
    {
        "id": "b70fa6fbb995fb48",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "b34e2527585f9cdb",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 64,
        "width": 1,
        "height": 1
    },
    {
        "id": "e939ae40e3bcd77c",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 66,
        "width": 1,
        "height": 1
    },
    {
        "id": "965b3b54360c5721",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 68,
        "width": 1,
        "height": 1
    },
    {
        "id": "d3f75fc6fbbab131",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 70,
        "width": 1,
        "height": 1
    },
    {
        "id": "091958db38f3f177",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 71,
        "width": 1,
        "height": 1
    },
    {
        "id": "8e5af407ae36900a",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 72,
        "width": 1,
        "height": 1
    },
    {
        "id": "401689a68eb187cc",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 73,
        "width": 1,
        "height": 1
    },
    {
        "id": "9c1fe1fefaae8f3e",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 74,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe6451c9af07e4b5",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 75,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4db825886123e4b",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 77,
        "width": 2,
        "height": 1
    },
    {
        "id": "e70809ce47c02d4d",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 79,
        "width": 2,
        "height": 1
    },
    {
        "id": "0412e48d07042d67",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 81,
        "width": 2,
        "height": 1
    },
    {
        "id": "71193d2ef1d7d79b",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 83,
        "width": 1,
        "height": 1
    },
    {
        "id": "9646d2849cd859d0",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 85,
        "width": 1,
        "height": 1
    },
    {
        "id": "af596e3af337ec02",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 87,
        "width": 1,
        "height": 1
    },
    {
        "id": "3689d94396d4b39a",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 89,
        "width": 1,
        "height": 1
    },
    {
        "id": "714e8637416651b2",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 91,
        "width": 1,
        "height": 1
    },
    {
        "id": "d85c4b532440d4da",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 92,
        "width": 1,
        "height": 1
    },
    {
        "id": "2dd9e99e7905f630",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 93,
        "width": 1,
        "height": 1
    },
    {
        "id": "b30ea85076b91efe",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 94,
        "width": 1,
        "height": 1
    },
    {
        "id": "60dfb1ebba68a85a",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 95,
        "width": 1,
        "height": 1
    },
    {
        "id": "88f4d3c32fccc1e1",
        "type": "ui_spacer",
        "z": "edbe1cde.629ba",
        "name": "spacer",
        "group": "a9794baa.ab2d38",
        "order": 96,
        "width": 1,
        "height": 1
    },
    {
        "id": "a9794baa.ab2d38",
        "type": "ui_group",
        "name": "Memory",
        "tab": "d9cfdc3b.64f758",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9cfdc3b.64f758",
        "type": "ui_tab",
        "name": "Memory Game",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
